html
	head
		title Computer Vision: Final Project - Mick van Gelderen
		script(src="/jquery/dist/jquery.js")
		script(src="/threejs/build/three.js")
		script(src="main.js")
	body
		h1 Computer Vision

		canvas#canvas