html
	head
		title Computer Vision: Final Project - Mick van Gelderen
		script(src="jquery/dist/jquery.js")
		script(src="skin-detector.js")
	body
		h1 Computer Vision - YIQ Gaussian Skin Detector

		canvas#canvas

		p Color Space single 2 dimensional Gaussion

		pre#fragment



