html
	head
		title Computer Vision: Final Project - Mick van Gelderen
		script(src="jquery/dist/jquery.js")
		script(src="edge-detector.js")
	body
		h1 Computer Vision - Scharr Edge Detector

		canvas#canvas

		p horizontal and vertical Scharr edge detector

		pre#fragment



