html
	head
		title Computer Vision: Final Project - Mick van Gelderen
		script(src="jquery/dist/jquery.js")
		script(src="main.js")
	body
		h1 Computer Vision

		canvas#canvas

		br
		button#fill Fill with center value
		button#normalize Normalize kernel sum

		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="1")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")

