html
	head
		title Computer Vision: Final Project - Mick van Gelderen
		script(src="jquery/dist/jquery.js")
		script(src="main.js")
	body
		h1 Computer Vision Project

		a(href="edge-detector") Edge Detector
		br
		a(href="skin-detector") Skin Detector
		br
		a(href="filter-playground") Filter Playground

		p A connected webcam and modern browser are required. Only tested in Chrome.

		p This is me, having fun with the edge detector.

		img(src="hey-there.jpg")


