html
	head
		title Computer Vision: Final Project - Mick van Gelderen
		script(src="jquery/dist/jquery.js")
		script(src="main.js")
	body
		h1 Computer Vision

		canvas#canvas

		br
		button#gauss Gaussian blur
		button#edge Edge detector
		button#invert Invert image

		br
		h4 Bias
		button#bias-fill Fill with center value
		button#bias-normalize Normalize sum
		br
		input.bias(type="text" value="0")
		input.bias(type="text" value="0")
		input.bias(type="text" value="0")

		br
		h4 Kernel
		button#kernel-fill Fill with center value
		button#kernel-normalize Normalize sum
		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="1")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		br
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")
		input.kernel(type="text" value="0")

